* {
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(241, 241, 241, 0.99)), url(images/services.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
}

#left-side-bar {
    background-color: #9e9e9e;
    padding-bottom: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    bottom: 0;
}

a {
    text-decoration: none;
    display: block;
    line-height: 3;
    color: white;
}

#logo {
    margin: 120px 50px 0px 0px;
    text-align: end;
}

#wrapper {
    display: flex;
}

#services {
    font-size: 18px;
    text-align: end;
}

#services a {
    padding-right: 68px;
    font-family: 'PT Sans', sans-serif;
}

#services a:hover {
    background-color: white;
    color: grey;
}

#visit-visa {
    margin-left: 20%;
    margin-right: auto;
    max-width: 1030px;
    font-family: 'Archivo Narrow', sans-serif;
    display: flex;
    padding: 50px 50px 0 50px;
}
#visit-visa h3{
    font-family: 'Anton', sans-serif;
    color: #424242;
}
#training-services {
    margin-left: 20%;
    margin-right: auto;
    max-width: 1030px;
    font-family: 'Archivo Narrow', sans-serif;
}

#ielts-wrapper {
    padding: 50px 70px 0 70px;
}

#ielts-wrapper h1{
    font-size: 30px;
}
#german-wrapper h1{
    font-size: 30px;
}

#ielts-heading {
    display: flex;
    justify-content: space-between;
}

#ielts-dropdown {
    background: transparent;
    border: 0;
}

.ielts-active {
    display: block;
}

.ielts-inactive {
    display: none;
}

#german-wrapper {
    padding: 50px 70px 0 70px;
}

#german-heading {
    display: flex;
    justify-content: space-between;
}

.german-active {
    display: block;
}

.german-inactive {
    display: none;
}

#training-services h1 {
    font-family: 'Anton', sans-serif;
    color: #424242;
}

#right-side {
    margin-left: 20%;
    margin-right: auto;
    max-width: 1030px;
    display: flex;
}

#workpermit-wrapper {
    padding: 50px 0 0 250px;
}

#immigration-wrapper {
    display: inline;
}

#immgiration-wrapper a {
    color: blue;
    display: inline;
}

#immgiration-wrapper p {
    display: inline;
}

#immgiration-wrapper a p {
    line-height: 2px;
}

/* study abroad */

#right-side-studyabroad{
    display: flex;
    margin-left: 20%;
    margin-right: auto;
    max-width: 1030px;
    
}

#right-side-studyabroad h1, h4 {
    font-family: 'Anton', sans-serif;
    color: #424242;
}

#right-side-studyabroad p,ul  {
    font-family: 'Archivo Narrow', sans-serif;
}
#right-side-studyabroad p{
    font-size: 19   px;
}
#right-side-studyabroad{
    padding: 30px 50px 0 50px;
}