* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
    text-align: center;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-scrolled {
    background-color: #eeeeee;
    transition: ease-in;
    transition-duration: 0.2s;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.navbar-top {
    background-color: transparent;
    transition: ease-in;
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav-text {
    text-transform: uppercase;
    padding: 17px 12px 20px 15px;
    font-family: 'Inconsolata', monospace;
    color: grey;
}

.left-side {
    margin-right: 60px;
}

.left-side .nav-text:hover {
    background-color: grey;
    color: #eeeeee;
    transition-duration: 0.4s;
}

.right-side {
    margin-left: 100px;
}

.dropdownbtn {
    background: transparent;
    border: 0;
    padding: 17px 15px 12.5px 15px;
}

.dropdown:hover {
    background-color: #e0e0e0;
}

.container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, .8)), url(images/graduation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    padding: 150px 0px 210px 0px;
}

.home-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
}

#heading {
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    color: #eeeeee;
    font-weight: 500;
    text-align: center;
    line-height: 58px;
    margin-bottom: 10px;
}

#home-content {
    margin: 0px 5px 60px 0px;
    padding: 0px 200px 0px 200px;
    font-size: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
}

.findoutmore {
    margin: 0;
    padding: 1.25rem 2.25rem;
    font-size: .85rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background-color: #eeeeee;
    border-radius: 10rem;
    color: grey;
    border-color: grey;
    font-family: 'Archivo Narrow', sans-serif;
}

.btnhome a:hover {
    background-color: grey;
    color: #eeeeee;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.about-img {
    padding: 100px 300px 120px 300px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(206, 206, 206, 0.9)), url(images/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
}

.about-heading {
    font-family: 'Anton', sans-serif;
    color: grey;
    font-weight: 100;
    font-size: 36px;
}

#about-writings {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    text-align: center;
}

.about-btn {
    margin: 0;
    padding: 1.25rem 2.25rem;
    font-size: .85rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background-color: #eeeeee;
    border-radius: 10rem;
    color: grey;
    border-color: grey;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
}

.about-btn:hover {
    background-color: grey;
    color: #eeeeee;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.services-wrapper {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
    text-align: center;
}

.services-wrapper #service-heading {
    font-family: 'Anton', sans-serif;
    color: grey;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: -15px;
}

#service-writings {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.services-img {
    background-image: linear-gradient(rgba(206, 206, 206, 0.9), rgba(255, 255, 255, 0.9)), url(images/services1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left-right-wrapper {
    display: grid;
    grid-template-columns: 400px 700px;
}

.box-left {
    text-align: center;
}

#service-img h3 {
    margin-top: 5px;
}

.box-right {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    font-family: 'Archivo Narrow', sans-serif;
}

.box-right-down {
    display: flex;
    margin-left: 200px;
    font-family: 'Archivo Narrow', sans-serif;
}

#service-img img:hover {
    height: 70px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.contact-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.contact-writings {
    display: flex;
    justify-content: space-between;
    color: grey;
}

.left-side-contact {
    margin-left: 100px;
    font-family: 'Archivo Narrow', sans-serif;
}

.left-side-contact h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 6px;
}

.right-side-contact {
    margin-right: 100px;
    font-family: 'Archivo Narrow', sans-serif;
}

.right-side-contact h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 6px;
}

#contact-header {
    font-family: 'Anton', sans-serif;
    color: grey;
    font-weight: 100;
    font-size: 36px;
}

.contact-bg {
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url(images/contact-us.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}

footer {
    background-color: grey;
    color: white;
}

.resopnsive-navbar {
    display: block;
    width: 100%;
}

@media only screen and (max-width:1024px) {
    nav ul {
        position: absolute;
        display: block;
        top: 38px;
        background: #eeeeee;
        width: 100%;
        text-align: left;
        height: calc(100vh-50px);
    }
    nav .active {
        left: 0%;
        transition: ease-in-out;
        transition-duration: 0.5s;
    }
    nav .inactive {
        left: -100%;
        transition: ease-in-out;
        transition-duration: 0.5s;
    }
    .left-side ul a {
        display: block;
    }
    .dropdown {
        display: relative;
    }
    .right-side {
        margin-left: 35px;
    }
    #heading {
        font-size: 30px;
        font-family: 'Anton', sans-serif;
        color: #eeeeee;
        font-weight: 500;
        text-align: center;
        line-height: 35px;
        margin-bottom: 10px;
    }
    #home-content {
        margin: 0px 0px 40px 0px;
        padding: 0px 20px 0px 20px;
        font-size: 20px;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: 500;
        color: white;
        text-align: center;
    }
    .about-img {
        padding: 20px 20px 0px 20px;
    }
    .about-wrapper {
        padding: 0px;
        margin: 0px;
        max-width: auto;
    }
    .about-heading {
        font-family: 'Anton', sans-serif;
        color: grey;
        font-weight: 100;
    }
    #about-writings {
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 20px;
        text-align: center;
    }
    .contact-writings {
        display: block;
        padding: 0%;
        margin: 0;
    }
    .left-side-contact {
        margin: 0px;
        padding: 20px 0px 20px 0px;
    }
    .right-side-contact {
        margin: 0px;
        padding: 0px;
    }
    .left-right-wrapper {
        display: grid;
        grid-template-columns: 400px 700px;
    }
}

@media only screen and (min-width:1025px) {
    .dropdown {
        display: none;
    }
}

footer p {
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 600;
    padding-left: 9px;
}

#foot {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}