* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
    text-align: center;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-scrolled {
    background-color: #eeeeee;
    transition: ease-in;
    transition-duration: 0.2s;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.navbar-top {
    background-color: transparent;
    transition: ease-in;
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav-text {
    text-transform: uppercase;
    padding: 17px 12px 20px 15px;
    font-family: 'Inconsolata', monospace;
    color: grey;
}

.left-side {
    margin-right: 60px;
}

.left-side a:hover {
    background-color: grey;
    color: #eeeeee;
    transition-duration: 0.4s;
}

.right-side {
    margin-left: 100px;
}

.container {
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, .8)), url(images/graduation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    padding: 150px 0px 210px 0px;
}

.home-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
}

#heading {
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    color: #eeeeee;
    font-weight: 500;
    text-align: center;
    line-height: 58px;
    margin-bottom: 10px;
}

#home-content {
    margin: 0px 5px 60px 0px;
    padding: 0px 200px 0px 200px;
    font-size: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
}

.findoutmore {
    margin: 0;
    padding: 1.25rem 2.25rem;
    font-size: .85rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background-color: #eeeeee;
    border-radius: 10rem;
    color: grey;
    border-color: grey;
    font-family: 'Archivo Narrow', sans-serif;
}

.btnhome a:hover {
    background-color: grey;
    color: #eeeeee;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.about-img {
    padding: 100px 300px 120px 300px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(206, 206, 206, 0.9)), url(images/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
}

.about-heading {
    font-family: 'Anton', sans-serif;
    color: grey;
    font-weight: 100;
    font-size: 36px;
}

#about-writings {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    text-align: center;
}

.about-btn {
    margin: 0;
    padding: 1.25rem 2.25rem;
    font-size: .85rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background-color: #eeeeee;
    border-radius: 10rem;
    color: grey;
    border-color: grey;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
}

.about-btn:hover {
    background-color: grey;
    color: #eeeeee;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.services-wrapper {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
    text-align: center;
}

.services-wrapper #service-heading {
    font-family: 'Anton', sans-serif;
    color: grey;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: -15px;
}

#service-writings {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    text-align: center;
}

.service-img-wrap {
    margin-top: 40px;
    box-sizing: border-box;
}

.service-imgs {
    height: 230px;
    margin-left: 40px;
    margin-top: 40px;
    border: 3px solid grey;
    padding: 4px;
    background-attachment: lightgrey;
}

.blur {
    display: inline-block;
    position: relative;
    transition: .4s;
}

.blur img {
    transition: 0.4s;
}

.blur:hover img {
    filter: blur(1px) brightness(60%);
}

.blur:not(img) {
    /* position: absolute; */
    z-index: 1;
    top: 30%;
    /* width: 100%; */
    text-align: center;
    transition: ease-in-out;
    transition-duration: 0.4s;
}

.blur h2 {
    top: 45%;
    position: absolute;
    margin-left: 70px;
    color: white;
    opacity: 0;
}

.blur:hover :not(img) {
    opacity: 1;
}

#visitvisa {
    margin-left: 105px;
    font-family: 'Archivo Narrow', sans-serif;
}

#studyabroad {
    margin-left: 95px;
    font-family: 'Archivo Narrow', sans-serif;
}

#workpermit {
    margin-left: 75px;
    font-family: 'Archivo Narrow', sans-serif;
}

#holidaypackages {
    margin-left: 72px;
    font-family: 'Archivo Narrow', sans-serif;
}

#immigiration {
    margin-left: 95px;
    font-family: 'Archivo Narrow', sans-serif;
}

#training {
    margin-left: 75px;
    font-family: 'Archivo Narrow', sans-serif;
}

.services-img {
    background-image: linear-gradient(rgba(206, 206, 206, 0.9), rgba(255, 255, 255, 0.7)), url(images/services.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.contact-writings {
    display: flex;
    justify-content: space-between;
    color: grey;
}

.left-side-contact {
    margin-left: 100px;
    font-family: 'Archivo Narrow', sans-serif;
}

.left-side-contact h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 6px;
}

.right-side-contact {
    margin-right: 100px;
    font-family: 'Archivo Narrow', sans-serif;
}

.right-side-contact h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 6px;
}

#contact-header {
    font-family: 'Anton', sans-serif;
    color: grey;
    font-weight: 100;
    font-size: 36px;
}

.contact-bg {
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url(images/contact-us.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}

footer {
    background-color: grey;
    color: white;
}